@* <MudContainer MaxWidth="MaxWidth.False" Gutters="false" Class="h-full relative"> *@
<MudSimpleTable Dense="true" Class="w-full overflow-clip">
        <thead class="w-full">
            <th colspan="2" class="!font-bold">
                Problem Source Information
            </th>
        </thead>
        <tbody class="w-full">
            <tr>
                <td class="truncate">
                    Source Name:
                </td>
                <td class="truncate">
                    @SourceInfo.SourceName
                </td>
            </tr>
            @if (@SourceInfo.SourceLink is not null)
            {
                <tr>
                    <td class="truncate">
                        Source Link:
                    </td>
                    <td class="truncate">
                        @SourceInfo.SourceLink
                    </td>
                </tr>
            }
            <tr>
                <td class="truncate">
                    Source Type:
                </td>
                <td>
                    @SourceInfo.SourceType
                </td>
            </tr>
            <tr>
                <td class="truncate">
                    Model Name:
                </td>
                <td>
                    @SourceInfo.ModelName
                </td>
            </tr>
            @if (@SourceInfo.ElementName is not null)
            {
                <tr>
                    <td class="truncate">
                        Element Name:
                    </td>
                    <td>
                        @SourceInfo.ElementName
                    </td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>
@* </MudContainer> *@
