@using BeamOs.StructuralAnalysis.Contracts.PhysicalModel.LoadCases
@inherits FluxorComponent

<MudContainer Gutters="false" Class=@($"rounded pointer-events-none")>
    <MudPaper Class="px-4 pb-4 max-h-full overflow-auto pointer-events-auto">
        <MudExpansionPanels MultiExpansion="true" Outlined="false" Elevation="0" Dense="true">
            <MudAutocomplete InputMode="InputMode.numeric" MaxItems="@ResultLimit" T="int" @bind-Value="PointLoadId"
                Text="@PointLoadIdText" SearchFunc="PointLoadIds"
                ToStringFunc="@(id => id == 0 ? "New Point Load" : id.ToString())" Label="Point Load Id">
                <MoreItemsTemplate>
                    <MudText Align="Align.Center" Class="px-4 py-1">
                        Only the first @ResultLimit.ToString() items are shown. Type to refine results.
                    </MudText>
                </MoreItemsTemplate>
            </MudAutocomplete>

            <MudAutocomplete InputMode="InputMode.numeric" MaxItems="@ResultLimit" T="LoadCase" SearchFunc="LoadCases"
                @bind-Value="LoadCase" ToStringFunc="@(c => c.Name)" Label="Load Case" Required="true">
                <MoreItemsTemplate>
                    <MudText Align="Align.Center" Class="px-4 py-1">
                        Only the first @ResultLimit.ToString() items are shown. Type to refine results.
                    </MudText>
                </MoreItemsTemplate>
            </MudAutocomplete>

            <MudAutocomplete InputMode="InputMode.numeric" MaxItems="@ResultLimit" T="int"
                @bind-Value="pointLoad.NodeId" SearchFunc="NodeIds" Label="Applied to Node" Required="true">
                <MoreItemsTemplate>
                    <MudText Align="Align.Center" Class="px-4 py-1">
                        Only the first @ResultLimit.ToString() items are shown. Type to refine results.
                    </MudText>
                </MoreItemsTemplate>
            </MudAutocomplete>

            <QuantityFieldComponent @bind-Value="@pointLoad.Force" Label="X"
                Unit="@UnitSettings.ForceUnit.ToString()" />

            <MudExpansionPanel Expanded="true" Text="Direction"
                Class="text-nowrap text-clip mud-typography mud-typography-subtitle2">
                <MudGrid Spacing="1">
                    <QuantityFieldComponent @bind-Value="@pointLoad.Direction.X" Label="X" />

                    <QuantityFieldComponent @bind-Value="@pointLoad.Direction.Y" Label="Y" />

                    <QuantityFieldComponent @bind-Value="@pointLoad.Direction.Z" Label="Z" />
                </MudGrid>
            </MudExpansionPanel>
        </MudExpansionPanels>

        <div class="flex flex-row">
            <div class="flex-1" />
            @if (pointLoad.Id != 0)
            {
                <MudButton Class="flex-none mr-2" Variant="Variant.Filled" Color="Color.Error" OnClick="Delete">Delete
                </MudButton>
            }
            @if (state.Value.IsLoading)
            {
                <MudProgressCircular Class="flex-none" Color="Color.Default" Indeterminate="true" />
            }
            else
            {
                <MudButton Class="flex-none" Variant="Variant.Filled" Color="Color.Primary" OnClick="Submit">Apply
                </MudButton>
            }
        </div>
    </MudPaper>
</MudContainer>

<style>
    .mud-expand-panel-header {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 0px !important;
        padding-bottom: 8px !important;
        min-height: 24px !important;
    }

    .mud-expand-panel-content {
        padding-left: 12px !important;
        padding-right: 0px !important;
        padding-top: 0px !important;
        border-style: none;
        height: fit-content;
    }

    .mud-panel-expanded>.mud-expand-panel-header .mud-expand-panel-text {
        color: var(--mud-palette-primary-lighten);
    }

    .mud-expand-panel.mud-panel-expanded {
        margin-top: 0px;
        margin-block: 0px;
    }

    .mud-expand-panel-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .mud-input-control {
        margin-top: 2px;
    }
</style>
