@page "/test-explorer"
@inherits FluxorComponent

@using BeamOS.Tests.Common
@using BeamOS.Tests.Common.Interfaces
@using BeamOS.Tests.Common.SolvedProblems.Fixtures
@using BeamOS.Tests.Common.Traits
@using BeamOS.WebApp.Client.Components
@using BeamOS.WebApp.Client.Pages
@using BeamOS.WebApp.EditorApi
@using BeamOs.ApiClient
@using BeamOs.Contracts.AnalyticalResults.Model
@using BeamOs.Contracts.Common
@using BeamOs.Contracts.PhysicalModel.Model
@using BeamOs.Contracts.PhysicalModel.Node
@using BeamOs.Domain.Common.ValueObjects
@using BeamOs.Tests.TestRunner
@using Fluxor
@using Fluxor.Blazor.Web.Components
@using MudExtensions

@rendermode InteractiveWebAssembly

<PageTitle>Test Explorer</PageTitle>

<MudContainer MaxWidth="MaxWidth.False" Gutters="false" Class="h-full relative">
    <MudSplitter EnableSlide="true" Class="h-full" Dimension="15" EnableMargin=false>
        <StartContent>
            @* <MudDrawer @bind-Open="@open" Elevation="1" ClipMode="DrawerClipMode.Always"> *@
                <MudContainer MaxWidth="MaxWidth.False" Gutters="false" Class="h-full">
                    <MudList T="TestInfo" SelectedValueChanged="OnSelectedTestInfoChanged">
                        <MudListSubheader>
                            <MudTextField @bind-Value="@searchTerm" AdornmentIcon="@Icons.Material.Filled.Brush"
                                          Adornment="Adornment.End" Immediate="true" Variant="Variant.Outlined" />
                        </MudListSubheader>

                    @foreach (var kvp in TestInfoProvider.SourceNameToModelNameDict)
                    {
                        <MudListItem Icon="@Icons.Material.Filled.Book" Text="@kvp.Key" Expanded="true">
                            <NestedList>
                                @foreach (var modelName in kvp.Value)
                                {
                                    <MudListItem Icon="@Icons.Material.Outlined.Check" Text="@modelName">
                                        <NestedList>
                                            @foreach (var testInfo in TestInfoProvider.TestInfos.Where(t => t.SourceInfo?.SourceName == kvp.Key && t.SourceInfo.ModelName == modelName))
                                            {
                                                <MudListItem T="TestInfo" Icon="@Icons.Material.Outlined.Check" Value="@testInfo">
                                                    @testInfo.MethodInfo.Name
                                                </MudListItem>
                                            }
                                        </NestedList>
                                    </MudListItem>
                                }
                            </NestedList>
                        </MudListItem>
                    }

                    @* @foreach (var trait in TestInfoProvider.AllTraits.GetValueOrDefault(selectedTrait) ?? [])
                        {
                            <MudListItem Icon="@Icons.Material.Filled.Inbox" Text="@trait" Expanded="true">
                                <NestedList>
                                @foreach (var testInfo in testInfos.Where(i => i.TraitNameToValueDict.GetValueOrDefault(selectedTrait)?.Contains(trait) ?? false).Where(i => i.MethodInfo.Name.Contains(searchTerm.Trim(), StringComparison.OrdinalIgnoreCase)))
                                    {
                                        <MudListItem T="TestInfo" Icon="@Icons.Material.Outlined.Check" Value="@testInfo">
                                            @testInfo.MethodInfo.Name
                                        </MudListItem>
                                    }
                                </NestedList>
                            </MudListItem>
                        } *@
                    </MudList>
                </MudContainer>
            @* </MudDrawer> *@
        </StartContent>
        <EndContent>
            <div class="w-full h-full relative">
                <EditorComponent @ref="editorComponent" Class="h-full" />
                <MudStack Row="true" Class="absolute bottom-0 w-full max-h-[40%] p-4 pointer-events-none">
                    @if (@TestExplorerState.Value.SelectedTestInfo?.GetDisplayable()?.SourceInfo is SourceInfo sourceInfo)
                    {
                        <SourceInfoView SourceInfo="@sourceInfo"/>
                    }
                    @if (@TestExplorerState.Value.SelectedTestInfo is TestInfo testInfo)
                    {
                        <DetailedTestResultsView />
                    }
                    <MudSpacer></MudSpacer>
                </MudStack>
            </div>
        </EndContent>
    </MudSplitter>
</MudContainer>

