@inherits FluxorComponent

<MudContainer Gutters="false" Class=@($"rounded pointer-events-none")>
    <MudPaper Class="px-2 pb-2 max-h-full overflow-auto pointer-events-auto">
        <MudExpansionPanels MultiExpansion="true" Outlined="false" Elevation="0" Dense="true">
            <MudTextField T="int?" Typo="Typo.input" @bind-Value="@node.Id" Required="true" Label="Node Id" OnlyValidateIfDirty="true" />

            @* <MudTextField T="Guid" Typo="Typo.input" Value="@node.ModelId" Label="ModelId" OnlyValidateIfDirty="true" ReadOnly="true" /> *@

            <MudExpansionPanel Expanded="true" Text="LocationPoint" Class="text-nowrap text-clip mud-typography mud-typography-subtitle2">
                <MudGrid Spacing="1">
                    <QuantityFieldComponent IsRequired="true" @bind-Value="@node.LocationPoint.X" Label="X" Unit="@UnitSettings.LengthUnit.ToString()" />

                    <QuantityFieldComponent IsRequired="true" @bind-Value="@node.LocationPoint.Y" Label="Y" Unit="@UnitSettings.LengthUnit.ToString()" />

                    <QuantityFieldComponent IsRequired="true" @bind-Value="@node.LocationPoint.Z" Label="Z" Unit="@UnitSettings.LengthUnit.ToString()" />
                </MudGrid>
            </MudExpansionPanel>

            <MudExpansionPanel Expanded="true" Text="Restraint" Class="text-nowrap text-clip mud-typography mud-typography-subtitle2">
                <MudGrid Spacing="1">
                    <MudItem xs="6" sm="12">
                        <MudCheckBox @bind-Value="@node.Restraint.CanTranslateAlongX" Label="CanTranslateAlongX" />
                    </MudItem>

                    <MudItem xs="6" sm="12">
                        <MudCheckBox @bind-Value="@node.Restraint.CanTranslateAlongY" Label="CanTranslateAlongY" />
                    </MudItem>

                    <MudItem xs="6" sm="12">
                        <MudCheckBox @bind-Value="@node.Restraint.CanTranslateAlongZ" Label="CanTranslateAlongZ" />
                    </MudItem>

                    <MudItem xs="6" sm="12">
                        <MudCheckBox @bind-Value="@node.Restraint.CanRotateAboutX" Label="CanRotateAboutX" />
                    </MudItem>

                    <MudItem xs="6" sm="12">
                        <MudCheckBox @bind-Value="@node.Restraint.CanRotateAboutY" Label="CanRotateAboutY" />
                    </MudItem>

                    <MudItem xs="6" sm="12">
                        <MudCheckBox @bind-Value="@node.Restraint.CanRotateAboutZ" Label="CanRotateAboutZ" />
                    </MudItem>
                </MudGrid>
            </MudExpansionPanel>
        </MudExpansionPanels>

        <div class="flex flex-row">
            <div class="flex-1" />
            @if (state.Value.IsLoading)
            {
                <MudProgressCircular Class="flex-none" Color="Color.Default" Indeterminate="true" />
            }
            else
            {
                <MudButton Class="flex-none" Variant="Variant.Filled" Color="Color.Primary" OnClick="Submit">Apply</MudButton>
            }
        </div>
    </MudPaper>
</MudContainer>

<style>
    .mud-expand-panel-header {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 0px !important;
        padding-bottom: 8px !important;
        min-height: 24px !important;
    }

    .mud-expand-panel-content {
        padding-left: 12px !important;
        padding-right: 0px !important;
        padding-top: 0px !important;
        border-style: none;
        height: fit-content;
    }

    .mud-panel-expanded > .mud-expand-panel-header .mud-expand-panel-text {
        color: var(--mud-palette-primary-lighten);
    }

    .mud-expand-panel.mud-panel-expanded {
        margin-top: 0px;
        margin-block: 0px;
    }

    .mud-expand-panel-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .mud-input-control {
        margin-top: 2px;
    }

</style>
